   @import url("fonts.css");
  
   @import url("reset.css");






body{
   font-family: Inter, sans-serif;
   font-size: 18px;
   color: #7D7D7D;
}


 .container-licencing {
   max-width: 1218px;
   margin: 0 auto 100px;
}

.square{
   background-color: #40DDB6;
   width: 12px;
   height: 12px;
  display: inline-block;
  margin-right: 6px;
}

.sub-title-licencing {
   display: inline-block;
   color: #37393F;
  font-weight: 500;
  margin-top: 16px;
}

.sub-title-square {
   text-align: center;
}

.title {
   text-align: center;
   color: #37393F;
   font-size: 60px;
   font-family: Poppins,sans-serif;
   font-weight: 700;
   line-height: 1.21;
   margin-bottom: 70px;
}
.sub-title-icons{
   color: #37393F;
   font-size: 40px;
   font-family: Poppins,sans-serif;
   font-weight: 700;
   line-height: 1.21;
   margin-bottom: 11px;
}

.text-icons{
   line-height: 1.46;
   margin-bottom: 32px;
}
.sub-title-unsplash,
.sub-title-pexels,
.sub-title-phosphor{
  color: #37393F;
  font-size: 30px;
  font-family: Poppins,sans-serif;
  font-weight: 700;
  
}
.sub-title-phosphor{
   margin-bottom: 100px;
}

.one-span{
   color: #40DDB6;
   font-size: 30px;
   font-family: Poppins,sans-serif;
   font-weight: 400;
}
.sub-title-photography{
   color: #37393F;
   font-size: 40px;
   font-family: Poppins,sans-serif;
   font-weight: 700;
   line-height: 1.21;
   margin-bottom: 11px;
}

.text-all{
   line-height: 1.46;
   margin-bottom: 24px;
}
.sub-title-unsplash,
.sub-title-pexels{
   margin-bottom:8px;
}

.text-image-license,
.text-image-pexels{
  color: #40DDB6;
  line-height:1.46;
   
}

.text-image-pexels{
margin-bottom: 24px;
}

.text-image-license{
margin-bottom: 100px;
}

.sub-title-fonts{
   color: #37393F;
   font-size: 40px;
   font-family: Poppins,sans-serif;
   font-weight: 700;
   line-height: 1.21;
   margin-bottom: 11px;
}
.fonts-span{
   color: #40DDB6;
   font-size: 18px;
   font-family: Inter,sans-serif;
   font-weight: 500;
   line-height: 1.46;
}
.text-white{
   line-height:1.46;
   width: 739px;

}
/*----------Page2-----------------*/

.container-clothing {
   max-width: 1240px;
   margin: 0 auto 100px;
   
}


.title-clothing {
   color: #3C4242;
   font-size: 28px;
   font-family:Core-sans,sans-serif;
   font-weight: 600;
   line-height: 1.20;
   letter-spacing: 0.56px;
   width: 552px;
   margin-bottom: 30px;
}
.sub-title-bottom,
.text-clothing,
.text-collection-bottom,
.text-collection-middle,
.sub-title-one-stop,
.sub-title-clothing {
   color: #807D7E;
   font-size: 20px;
   font-family: Core-sans,sans-serif;
   font-weight: 600;
   line-height: 1.68;
   letter-spacing: 0.40px;
   margin-bottom: 25px;
}

.text-clothing {
   font-family: Causten,sans-serif;
   font-weight: 400;
   margin-bottom: 20px;
   }
.text-today,
.clothin-span {
   color: #807D7E;
   font-size: 20px;
   font-family: Causten,sans-serif;
   font-weight: 700;
   line-height: 1.68;
}

.text-collection-middle {
   font-family: Causten,sans-serif;
   font-weight: 400;
   margin-bottom: 25px;
}

.sub-title-one-stop {
   width: 1153px;
}

.text-today {
   font-weight: 400;
   letter-spacing: 0.40px;
   margin-bottom: 20px;
}
.text-collection-bottom{
font-family: Causten,sans-serif;
font-weight: 400;
margin-bottom: 20px;
}

.sub-title-bottom {
   width: 168px;
   margin-bottom: 0px;
}

/*-------Page3-------------------*/
.container-project {
   margin:  0 auto 100px ;
   max-width: 830px;
   
}

.title-project {
   color: #37393F;
   font-size: 40px;
   font-family: Poppins, sans-serif;
   font-weight: 700;
   line-height: 1.27;
   width: 399px;
   margin-bottom:13px;
}
.text-progect-botton,
.text-progect-middle,
.list-ol-project,
.list-ul-project,
.text-progect-top {
   color: #7D7D7D;
   font-size: 18px;
   font-family: Inter,sans-serif;
   font-weight: 400;
   line-height: 1.46;
   margin-bottom: 35px;
}
.list-ol-project,
.list-ul-project {
   width: 431px;
   margin-left: 16px;
   margin-bottom: 35px;
   font-weight: 500;
   }
.list-ul-project .item-li-project{
   padding-bottom: 24px;
}

.list-ol-project {
   width: 441px;
}


.list-ol-project .item-ol-project{
   padding-bottom: 24px;
}

/*-------Page4-------------------*/
   
  .container-jevels{
   max-width: 1103px;
   margin: 0 auto 100px;
  }
  .sub-title-jevels{
   padding-top: 70px;
   color: #D58417;
   font-size: 20px;
   font-family: Cormorant Infant,serif;
   font-weight: 700;
   line-height: 20px;
   margin-bottom: 27px;
   width: 128px;
  }
   .title-jevels{
      color: black;
      font-size: 64px;
      font-family: Cormorant Infant,serif;
      font-weight: 700;
      line-height: 1;
      width: 503px;
      margin-bottom: 31px;
   }
   .text-jevels{
      color: #606060;
      font-size: 30px;
      font-family: Cormorant Infant,fantasy;
      font-weight: 700;
      line-height: 1.4;
      width: 489px;
      padding-bottom: 75px;
   }
       .content-jevels{
         display: inline-block;
         width: 503px;
         vertical-align:middle;
         margin-right: 75px;
         }

      .container-img-flower{
       vertical-align: middle;
        padding-right: 20px; 
        width: 187px;
      
      }
      .container-img-jewelry{
        width: 318px;
        vertical-align: bottom;
      }
   
      

      
/*-------Practice-------------------*/
.practice{
   max-width: 1300px; 
   margin: 0 auto;
   padding-bottom: 50px;
}
  .blok1{
   border: solid 5px green;
   padding: 10px;
   outline: 10px solid gold;
   border-radius: 10px;
   margin-bottom: 40px;
  }


  .blok2{
   border-bottom:  dashed 10px red;
   border-top: dotted 10px yellow;
   background-color:yellowgreen;
   margin-bottom: 40px;
   opacity: 0.4;
  }

  .nature-img{
   border: 20px double green;
   margin-bottom: 40px;
   max-width: 500px;
   }

   .blok3{
      padding: 20px;
      background-color: pink;
      border:5px solid blue;
      border-radius:15px;
      box-shadow:  20px 10px 10px brown;
      }