   @import url("fonts.css");

   @import url("reset.css");



   body {
      font-family: inte, sans-serif;
      font-size: 18px;
      color: #7D7D7D;
   }



   .cooperation-img {}

   .blok {
      max-width: 722px;
      padding: 50px 15px;
      margin: 0 auto;
   }

   .title {
      color: #37393F;
      font-size: 30px;
      font-weight: 600;
      line-height: 1.27;
      margin-bottom: 12.5px;
   }

   .title,
   .sub-title,
   title-benefits,
   .sub-title-benefits {
      font-family: Poppins, sans-serif;
   }


   .text {
      line-height: 1.46;
      margin-bottom: 40px;
   }

   .text p {
      margin-bottom: 15px;
   }

   .sub-title {
      color: #6B77E5;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.27;
      margin-bottom: 12px;
   }

   .benefits {
      font-size:0;
      
   }

   .benefits-img,
   .cooperation-img {
      max-width: 100%;
   }

   .cooperation-img {
      margin-bottom: 37px;
   }

   .benefits-img {
      width: 331px;
      margin-right: 29px;
      
  }

   .content-benefits {
      display: inline-block;
      width: 332px;
      font-size: 18px;
   
   }

   title-benefits {
      color: #37393F;
      font-size: 25px;
      font-weight: 600;
      line-height: 1.27;
      margin-bottom: 15px;
   }

   .sub-title-benefits {
      color: #40DDB6;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.27;
      margin-bottom: 23.5px;
   }

   .list-benefits li {
      margin-bottom: 35px;
   }
   

   .sub-title-do{
      color: #D06B00;
      font-size: 28px;
      margin-bottom: 13px;
      margin-top: 36px;
      width: 183px;
   }
   .title-jewels{
      color: #0E333D;
      font-size: 59px;
      font-family:DM Serif Text,sans-serif;
      line-height: 1.47;
      width:526px;
      margin-bottom:25px;
}

.text-jewels {
   color: #474747;
   font-size: 20px;
   line-height:1.8;
   width:563px;
   }

      .blok-jewels {
         max-width: 1169px;
         margin: 0 auto;
         padding: 50px 15px;
         
       }



   .jewels {
      display: inline-block;
      margin-right: 38px;
   }
      
   
      .wooman-img{
         max-width:303px;
         }
       .decoration-img{
         max-width:303px;
       }
      
    .training1{
      width:200px;
      max-height: 300px;
      overflow: scroll;
      margin:0 auto ;
      margin-bottom: 50px;
   }  

      .training2{
         display: inline-block;
         width:200px;
         margin: 0 300px 0 50px;
         padding: 10px;
         
      }
        
       .training3{
            display: inline-block;
            width: 200px;
            padding: 10px;
         }