   @import url("fonts.css");
  
   @import url("reset.css");



   
body{
   font-family: "Inter", sans-serif;
   font-size: 18px;
   color: #7d7d7d;
   }

.title,
.sub-title {
   font-family: "Poppins", sans-serif;
   font-weight: 600;
}
.title{
   font-size: 30px;
   color:#37393F;
   line-height:1,27;
   }

.sub-title{
   font-size: 20px;
   color: #6B77E5;
   line-height:1,27;
}
.text-bottom
.section,
.list,
.text,
.blok{
   line-height: 1,46;
}
.sub-title-bottom {
   color: #37393F;
   font-size: 40px;
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   line-height: 1,27;
}
.list,
.list-ol{
   font-weight: 500;
   
}
.lorem{
   font-family:"Causten", sans-serif;
   
}
  
.sub-title-eye{
   color: rgba(255, 0, 0, 0.5); 
   text-align:center;
}
.text-salmon{
   text-decoration: underline;
   text-align: justify;
   word-spacing: 5px;
}
.sub-title-salmon{
   text-shadow: -5px -6px 2px gray ;
   text-align: center;
   color:orange;
   text-decoration: line-through;
}
.text-broccoli{
   text-transform: capitalize;
   line-height:1,3;
   font-size: 25px;
   }
   .text-batat{
      letter-spacing: 5px;
      text-indent: 10px;

   }